<!-- <sb-layout-dashboard><sb-dashboard-head title="Dashboardeee" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-cards></sb-dashboard-cards><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables></sb-layout-dashboard> -->

<sb-layout-dashboard><sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>


<sb-card>
    <div class="card-header" style="background-color: #0094c2 !important; color: #ffffff;">
     <a (click)="viewIntTable()">   <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon> {{selectedDisplayMonth}} - {{fileObject.fileYear}} </a>
    </div>
    <div class="card-body" style="max-height: 370px !important; overflow-y: scroll;">
        <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->
        <table class="table table-striped" style="height:30px;">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">File Type</th>
                    <th scope="col">File Name </th>
                    <th scope="col">Uploaded Date </th> 
                    <th scope="col">Status</th>
                    <th scope="col">Completed Date </th>
                </tr>
            </thead>
            <tbody style="height: 100px">
                <tr *ngFor="let dmaList of dmaAllList; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{ dmaList?.filetype }}</td>
                    <!-- <td> <button type="button" class="btn btn-link" aria-label="Left Align"> <span
                                class="glyphicon glyphicon-align-left"></span>{{dmaList.fileName ? dmaList?.fileName : '---'}}</button> </td> -->
                                <td> {{dmaList.fileName ? dmaList?.fileName : '---'}}</td>
                                <td> {{ dmaList?.uploadedOn | date }}</td>
                    <td> <!-- <button type="button" *ngIf="dmaList.isUploaded  === null" class="btn btn-warning">Pending</button> -->
                        <button type="button" *ngIf="dmaList.isUploaded  === 'Uploaded'" class="btn btn-primary">Uploaded</button>
                        <button type="button" *ngIf="dmaList.isUploaded  === 'Submitted'" class="btn btn-success">Submitted</button>
                     </td>
                    <td> {{dmaList.isCompletedOn ? dmaList?.isCompletedOn : '-- : --'}}</td>
                </tr>
            </tbody>
        </table>
    <!-- </div> -->
    </div>
</sb-card>
<div class="row"> 
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('January' ,'1')" id= "bg-primary2" background="{{monthObject.January}}">
            <div class="card-body">January</div>
        </sb-card-view-details>
    </div> 
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('February' , '2')" background="{{monthObject.February}}">
            <div class="card-body">February </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('March', '3')" background="{{monthObject.March}}">
            <div class="card-body">March </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('April' ,'4')" background="{{monthObject.April}}">
            <div class="card-body">April </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('May', '5')"background="{{monthObject.May}}">
            <div class="card-body">May </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('June', '6')" background="{{monthObject.June}}">
            <div class="card-body">June </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('July', '7')" background="{{monthObject.July}}">
            <div class="card-body">July </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('August', '8')" background="{{monthObject.August}}">
            <div class="card-body">August </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('September' ,'9')" background="{{monthObject.September}}">
            <div class="card-body">September </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('October', '10')" background="{{monthObject.October}}">
            <div class="card-body">October </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('November', '11')" background="{{monthObject.November}}">
            <div class="card-body">November </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('December', '12')" background="{{monthObject.December}}"> 
            <div class="card-body">December </div>
        </sb-card-view-details>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label for="exampleFormControlSelect1"> Change a Year</label>
            <select class="form-control" (ngModelChange)="onchangeYear($event)" [(ngModel)]="fileObject.fileYear" name="fileYear">
                <!-- <option [ngValue]=null >Select Year</option> -->
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
              </select>
        </div>
    </div>
</div>
</sb-layout-dashboard>
