<sb-layout-dashboard>
  <sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <!--  -->

  <sb-card>
    <!-- <div class="card-header" style="color: #ffffff;">
            <a>   <fa-icon class="mr-1"></fa-icon> Salesforce History </a>
        </div>
     -->
        <div class="card-body">
      
          <ngb-tabset [destroyOnHide]="false" class="card card-primary card-tabs ">
  
            <ngb-tab title="Saleforce Pull History" >
              <ng-template ngbTabContent>
                <div class="tab-content card-body">
                  <!-- <div class="bs-example">
                    <div class="clearfix">
                      <div class="pull-right">
                        <div class=" row">
                            <div class="col-md-12">
                              <button type="button" *ngIf="isShown"  id="download_button" class="btn btn-solid">Download</button>
                              <button type="button" *ngIf="isHide"   class="btn btn-download">Download</button>
                            </div>
                        </div>
                      </div>
                        <div class=" row">
                          <div class="col-md-7">
                            <span class="pushed_date">Last pushed 09/29/2021. <img src="assets/img/salesforce_connect_icon.png"> </span>
                          </div>  
            
                        </div>
                        
                    </div>
                </div> -->
                <div class="table-responsive-sm">
                  <table class="table" class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">File Name</th>
                        <th scope="col">uploaded On</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr>
                        <td>Enterprise Data Warehouse</td>
                        <td>Enterprise Data Warehouse-8-2020.csv</td>
                        <td>
                          <span class="status">Uploaded 08/04/2021</span>
                        </td>
                      </tr> -->
                      <tr *ngFor="let dmaList of SalesforceAllList; let i = index">
                        <ng-template [ngIf] = "dmaList.isSalesForcePull=='1'">
                        <td>{{ dmaList?.fileName }}</td>
                        <td>{{dmaList?.SalesforcePulledDate | date: 'MM/dd/yyyy H:m:s'}}</td>

                        <!-- <td>
                        <div class="custom-file">
                          <input #csvInput type="file" class="custom-file-input" onclick="this.value=null"
                            (change)="csvInputChange($event, dmaList)" accept=".xlsx, .xls, .csv" />
                          <label class="custom-file-label"> {{dmaList.files > 0 ? 'Upload' : 'Upload'}} file</label>
                        </div>
                      </td>
                       -->
                        <td>
                          <button type="button" (click)="DownloadSalesforcePulledFile(dmaList?.month,dmaList?.year);" class="btn btn-download">Download</button>
                          <!-- <button type="button" *ngIf="dmaList.Status  === 'Uploaded'" class="btn btn-primary">Uploaded</button> -->
                          <!-- <button type="button" *ngIf="dmaList.Status  === 'Submitted'" class="btn btn-success">Submitted</button> -->
                        </td>
                      </ng-template>
                      </tr>
                      <tr *ngIf="SalesforceAllList?.length == 0">
                        <td></td>
                       <td> Data Not Found</td>
                       <td></td>
          
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              </ng-template>
            </ngb-tab>
             
            <ngb-tab>
              <ng-template ngbTabTitle>Saleforce Push History</ng-template>
              <ng-template ngbTabContent>
                <div class="tab-content card-body">
                  <!-- <div class="bs-example">
                    <div class="clearfix">
                      <div class="pull-right">
                        <div class=" row">
                            <div class="col-md-12">
                              <button type="button" *ngIf="isShown"  id="download_button" class="btn btn-solid">Download</button>
                              <button type="button" *ngIf="isHide"   class="btn btn-download">Download</button>
                            </div>
                        </div>
                      </div>
                        <div class=" row">
                          <div class="col-md-7">
                            <span class="pushed_date">Last pulled 09/29/2021. <img src="assets/img/salesforce_connect_icon.png"> </span>
                          </div>  
            
                        </div>
                        
                    </div>
                </div> -->
                <div class="table-responsive-sm">
                  <table class="table" class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">File Name</th>
                        <th scope="col">uploaded On</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr>
                        <td>Enterprise Data Warehouse</td>
                        <td>Enterprise Data Warehouse-8-2020.csv</td>
                        <td>
                          <span class="status">Uploaded 08/04/2021</span>
                        </td>
                      </tr> -->
                      <tr *ngFor="let dmaList of SalesforceAllList; let i = index">
                        <ng-template [ngIf] = "dmaList.isSalesForcePush=='1'">
                        <td>{{ dmaList?.fileName }}</td>
                        <td>{{dmaList?.uploadedOn | date: 'MM/dd/yyyy H:m:s'}}</td>
                        <!-- <td>
                        <div class="custom-file">
                          <input #csvInput type="file" class="custom-file-input" onclick="this.value=null"
                            (change)="csvInputChange($event, dmaList)" accept=".xlsx, .xls, .csv" />
                          <label class="custom-file-label"> {{dmaList.files > 0 ? 'Upload' : 'Upload'}} file</label>
                        </div>
                      </td>
                       -->
                        <td>
                          <button type="button" (click)="DownloadSalesforcePushedFile(dmaList?.month,dmaList?.year); " class="btn btn-download">Download</button>
                          <!-- <button type="button" *ngIf="dmaList.Status  === 'Uploaded'" class="btn btn-primary">Uploaded</button> -->
                          <!-- <button type="button" *ngIf="dmaList.Status  === 'Submitted'" class="btn btn-success">Submitted</button> -->
                        </td>
                      </ng-template>
                      </tr>
                      <tr *ngIf="SalesforceAllList?.length == 0">
                        <td></td>
                       <td> Data Not Found</td>
                       <td></td>
          
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              </ng-template>
            </ngb-tab>
             
            
             
            
             
          </ngb-tabset>
    
        </div>

  </sb-card>
  <!--
  <sb-card>
    <div class="card-header" style="background-color: #0094c2 !important; color: #ffffff;">
      <a>
        <fa-icon class="mr-1"></fa-icon> Salesforce Direct Connect
      </a>
    </div>
    <div class="card-body" style="max-height: 500px !important; overflow-y: scroll;">
      <!--  ->
      <form>

        <div class="row">
          <div class="col-md-12">
            <span *ngIf="errorMessage">
              <div class="alert alert-danger" role="alert">
                {{ errorMessageText}}
              </div>
            </span>
          </div>
          <div class="col-md-12">
            <span *ngIf="successMessage">
              <div class="alert alert-success" role="alert">
                {{ successMessageText}}
              </div>
            </span>
          </div>
          <div class="col-md-12">
            <span *ngIf="waitMessage">
              <div class="alert alert-warning" role="alert">
                {{ waitMessageText}}
              </div>
            </span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
          </div> 
          <div class="col-md-6">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Import</label>
              <div class="col-sm-10">
                <button type="button" [disabled]="isSubmitBtnDisabled" (click)="import()"
                  class="btn btn-secondary btn-lg" data-toggle="tooltip" title="Import leads data from Salesforce.">
                  Import </button>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Export</label>
              <div class="col-sm-10">
                <button type="button" [disabled]="isSubmitBtnDisabled" (click)="export()"
                  class="btn btn-secondary btn-lg" data-toggle="tooltip" title="Export leads data into Salesforce.">
                  Export </button>
              </div>
            </div>
            <!- <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Test</label>
              <div class="col-sm-10">
                <button type="button" (click)="test()" class="btn btn-secondary btn-lg" data-toggle="tooltip"
                  title="Export leads data into Salesforce."> Test </button>
              </div>
            </div> ->
          </div>
        </div>




        <!- <div class="row">
          <div class="col-md-2 text-right">
            <label for="" class="col-form-label "> Import / Export</label>
          </div>

          <div class="col-md-2">
            <button type="button" (click)="import()" class="btn btn-secondary" data-toggle="tooltip"
              title="Import leads data from Salesforce."> Import </button>
          </div>

           <div class="col-md-2">
            <button type="button" (click)="export()" class="btn btn-secondary" data-toggle="tooltip"
              title="Export leads data into Salesforce."> Export </button>
          </div> 

          <div class="col-md-2">
            <button type="button" (click)="test()" class="btn btn-secondary" data-toggle="tooltip"
              title="Export leads data into Salesforce."> test </button>
          </div>
        </div>  ->



      </form>
    </div>
  </sb-card>-->


  <!-- conetnt -->
</sb-layout-dashboard>