.select_file{
    font-style: italic;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7e8082;
    margin-top: 6px;
    margin-bottom: 0px;
    
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.arrow {
    border: solid #666666;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 12px;
    cursor: pointer;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 8px;
    
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
  }

  .btn-solid {
    color: #000000;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}


.btn-download {
    color: #ffffff;
    background-color: #004A75;
    border-color: #004A75;
}

.pushed_date{
    font-style: italic !important;
}
.bs-example{
    margin-bottom: 20px;
}

input[type="checkbox"]{
    cursor: pointer;
    
    border-radius: 1px;
   
    width: 18px;
    height: 18px;
    border-width: 0;
    transition: all .3s linear;
    }
    