<sb-card><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>July Month Details</div>
    <div class="card-body">  <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">File Type</th>
            <th scope="col">File Name </th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Axcion</td>
            <td> <button type="button" class="btn btn-link" aria-label="Left Align"> <span class="glyphicon glyphicon-align-left"></span> axcion.csv</button> </td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Clinical</td>
            <td> <button type="button" class="btn btn-link">clinical.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Do Not Copy</td>
            <td> <button type="button" class="btn btn-link">donotcopy.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>EDR</td>
            <td> <button type="button" class="btn btn-link">edr.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Host</td>
            <td> <button type="button" class="btn btn-link">host.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>National Aliance</td>
            <td> <button type="button" class="btn btn-link">nationalaliance.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Prodcopy</td>
            <td> <button type="button" class="btn btn-link">prodcopy.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>SPDC</td>
            <td> <button type="button" class="btn btn-link">spdc.csv</button></td>
            <td><button type="button" class="btn btn-success">Uploded</button></td>
          </tr>
        </tbody>
      </table></div>
   
</sb-card>
