
<nav class="sb-topnav navbar navbar-expand navbar-dark" *ngIf="userService.user$ | async as user">
    <!-- <a class="navbar-brand" style="width: 225px !important; padding-left: 3rem !important; padding-right: 1rem !important; height: 56px !important;padding-bottom: 3rem !important; padding-top: 0rem !important;" routerLink="/dashboard"><img src="assets/img/bcbsri.png" alt="" width="120"></a> -->
    <a class="navbar-brand" style="width: 225px !important; padding-left: 1rem !important; padding-right: 1rem !important; height: 56px !important;padding-bottom: 3rem !important; padding-top: 0rem !important;" routerLink="/dashboard"><img src="assets/img/{{ user.logo }}" alt="" ></a>

    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" data-cy="topNavToggleSideNav" (click)="toggleSideNav()"><fa-icon [icon]='["fas", "bars"]'></fa-icon></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline  ml-auto mr-0 mr-md-3 my-2 my-md-0 "  style=" width: 100%; color: #ffffff;">  

        <div class="d-flex justify-content-center font-weight-bold"><h4>Predixion Insights</h4></div>
        <!-- <div class="input-group"> -->
            <!-- <p >Data Mover Application </p> -->

            <!-- <div class="d-flex justify-content-center">Data Mover Application</div> -->
            <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><fa-icon [icon]='["fas", "search"]'></fa-icon></button>
            </div> -->
        <!-- </div>  -->
     </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <sb-top-nav-user></sb-top-nav-user>
    </ul>
</nav>

