.select_file{
    font-style: italic;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7e8082;
    margin-top: 6px;
    margin-bottom: 0px;
}

.nice_button{
  font-style: italic;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7e8082;
  margin-top: 6px;
  margin-bottom: 0px;
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.arrow {
    border: solid #666666;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-top: 12px;
    cursor: pointer;
  }

  .datepicker-only-month-select {
    border: 0 !important;
    .ngb-dp-months {
      display: none !important;
    }
  }
  

  .ngb-dp-month{
    display: none !important;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 8px;
    
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
  }

  .btn-blue {
    color: #ffffff;
    background-color: #004A75;
    border-color: #004A75;
}
.status{
  font-style: italic !important;
}

.datepicker-only-month-select{
  border: 1px solid #ced4da !important;
}