<sb-layout-dashboard>
  <sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <sb-card [hidden]="progressbarshow">
    <div class="card-header" style="color: #ffffff;">
      <a>
        <fa-icon class="mr-1"></fa-icon> Upload / Update
      </a>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              Date <ngb-datepicker (navigate)="dateNavigate($event)" [showWeekdays]="false"
                class="datepicker-only-month-select form-control"></ngb-datepicker>
            </div>
          </div>
          <div class="col-md-3" *ngIf="!isProcessCompleted">
            <div class="form-group">
              <!-- <div class="col-sm-5" style="padding-right: 0px; padding-left: 50px; padding-top: 5px;">
                <span class="select_file" id="msg">Select file to upload</span>
              </div> -->
              <!-- <div class="col-sm-7"> -->
              File Type <select class="form-control" [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}"
                (change)="changefiletype($event.target.value)" name="file_type" id="file_type">
                <option
                  [ngValue]="{ fileTypeId: 0, fileType: 'No Data',fileName: 'NoData', tablename: 'NoData' , Operation: 'Upload file' }"
                  [selected]="selectedName.fileTypeId == 0"> Select File Type</option>
                <option *ngFor="let dmaList of dmaAllList;"
                  [ngValue]="{ fileTypeId: dmaList.id, fileType: dmaList.filetype,fileName: dmaList.fileName, tablename: dmaList.tablename , Operation: dmaList.Operation }">
                  {{ dmaList?.filetype}}
                </option>
                <!-- [ngValue]="{ id: dmaList.id, filetype: dmaList.filetype, tablename: dmaList.tablename , Operation: dmaList.Operation }" -->
              </select>
              <!-- </div> -->
            </div>
          </div>

          <div class="col-md-2" *ngIf="!isProcessCompleted">
            <div class="form-group">
              <span *ngIf="browseButtonContainer">
                File
                <div class="col-sm-12">
                  <input #csvInput type="file" [(ngModel)]="browseButton" [ngModelOptions]="{standalone: true}"
                    class="custom-file-input" onclick="this.value=null" (change)="selectFile($event)"
                    accept=".xlsx, .xls, .csv" />
                  <label class="custom-file-label">{{buttonTextDropDown}}</label> 
                </div>
              </span>
            </div>
          </div>

          <div class="col-md-4" *ngIf="!isProcessCompleted">
            <div class="form-group "><br>
              <div class="custom-file">
                <button _ngcontent-uku-c1="" id="upload_button" class="btn btn-blue"
                  style="margin-right: 5px; margin-left: 5px;" type="button" (click)="csvInputChange()" [disabled]="isButtonUpload">
                  {{buttonText}} </button>
                <span id="loader"></span>
                <span *ngIf="processButtonContainer">
                  <button _ngcontent-uku-c1="" class="btn btn-solid" id="process_button"
                    style=" margin-right: 5px; margin-left: 5px;" (click)="on_proccess_button_click()" type="button" [disabled]="isButtonUpload">
                    Process </button>
                </span>
                
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngIf="isProcessCompleted">
            <div class="form-group "><br>
              <div class="custom-file">
                
                  <button _ngcontent-uku-c1="" class="btn btn-solid" id="process_button"
                    style=" margin-right: 5px; margin-left: 5px;" type="button" [disabled]="true">
                    Upload Process is Completed </button>
              
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </sb-card>

  <sb-card [hidden]="!progressbarshow">
    <div class="card-body">
      <div class="card-header" *ngIf="sppercent  !== '100'" style="background-color: #ffffff !important;">
        Processing Please Wait...
      </div>
      <div class="card-header" *ngIf="sppercent  == '100'" style="background-color: #ffffff !important;">
        Completed
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': sppercent + '%'}" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">{{sppercent}}%</div>
      </div>
    </div>
  </sb-card>

  <div class="row">
    <div class="col-md-12">
      <span *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{ errorMessageText}}
        </div>
      </span>
    </div>
    <div class="col-md-12">
      <span *ngIf="successMessage">
        <div class="alert alert-success" role="alert">
          {{ successMessageText}}
        </div>
      </span>
    </div>
    <div class="col-md-12">
      <span *ngIf="waitMessage">
        <div class="alert alert-warning" role="alert">
          {{ waitMessageText}}
        </div>
      </span>
    </div>
  </div>


  <sb-card>
    <div class="card-header" style="color: #ffffff;">

      <a>
        <fa-icon class="mr-1"></fa-icon> Process
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table class="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">File Type</th>
              <th scope="col">File Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>Enterprise Data Warehouse</td>
              <td>Enterprise Data Warehouse-8-2020.csv</td>
              <td>
                <span class="status">Uploaded 08/04/2021</span>
              </td>
            </tr> -->
            <tr *ngFor="let dmaList of dmaStatusList; let i = index">
              <td>{{ dmaList?.filetype }}</td>
              <td>{{dmaList.fileName ? dmaList?.fileName : '---'}}</td>
              <!-- <td>
              <div class="custom-file">
                <input #csvInput type="file" class="custom-file-input" onclick="this.value=null"
                  (change)="csvInputChange($event, dmaList)" accept=".xlsx, .xls, .csv" />
                <label class="custom-file-label"> {{dmaList.files > 0 ? 'Upload' : 'Upload'}} file</label>
              </div>
            </td>
             -->
              <td>
                <span *ngIf="dmaList.Status  !== ''">{{dmaList.Status}}</span>
                <!-- <button type="button" *ngIf="dmaList.Status  === 'Uploaded'" class="btn btn-primary">Uploaded</button> -->
                <!-- <button type="button" *ngIf="dmaList.Status  === 'Submitted'" class="btn btn-success">Submitted</button> -->
              </td>
            </tr>
            <tr *ngIf="dmaStatusList.length <= 0">
              <td></td>
              <td> Data Not Found</td>
              <td></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </sb-card>

  <!-- content -->
  <!-- <div class="form-row"> -->
  <!--   <form>
              <div class="row">
                <div class="col-md-2 text-right">
                  <label for="" class="col-form-label "> Month / Year : </label>
                </div>
                <div class="col-md-4">
                  <select class="form-control" (ngModelChange)="onchangeMonth($event)" [(ngModel)]="fileObject.fileMonth" name="fileMonth" >
                    <!- <option [ngValue]=null>Select Month</option> ->
                    <option *ngFor = "let month of months" [value] = "month.id" > {{month.label}} </option> 
                    <!- <option>January </option>
                    <option>February</option>
                    <option>March </option>
                    <option>April </option>
                    <option>May </option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option> ->
                  </select>
                </div>
                <div class="col-md-3">
                  <select class="form-control" (ngModelChange)="onchangeYear($event)" [(ngModel)]="fileObject.fileYear" name="fileYear">
                    <!- <option [ngValue]=null >Select Year</option> ->
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <button type="button"  (click)="saveFile()" class="btn btn-secondary"> Submit </button>
                </div> 
              </div> 
              <br>
              <div class="row">
                <div class="col-md-12">
                    <span  *ngIf="errorMessage">
                      <div class="alert alert-danger" role="alert">
                      {{ errorMessageText}}
                      </div>
                    </span>
                </div>
                <div class="col-md-12">
                  <span  *ngIf="successMessage">
                    <div class="alert alert-success" role="alert">
                    {{ successMessageText}}
                    </div>
                  </span>
              </div>
              </div>
            </form>
          <!- </div> ->
          <sb-card>
            <div class="card-header" style="background-color: #0094c2 !important; color: #ffffff;">
             <a>   <fa-icon class="mr-1"></fa-icon> Upload Files </a>
            </div>
            <div class="card-body" style="max-height: 500px !important; overflow-y: scroll;">
          <div class="table-responsive-sm">
            <table class="table" class="table table-striped">
              <!- <thead style="background-color: #0094c2; color: #fff;"> ->
                <thead>
                <tr>
                  <th scope="col">File Type</th>
                  <th scope="col">File Name</th>
                  <th scope="col">Upload</th>
                  <!- <th scope="col"></th> ->
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dmaList of dmaAllList; let i = index">
                  <td>{{ dmaList?.filetype }}</td>
                  <td>{{dmaList.fileName ? dmaList?.fileName : '---'}}</td>
                  <td>
                    <div class="custom-file">
                      <input #csvInput type="file" class="custom-file-input" onclick="this.value=null"
                        (change)="csvInputChange($event, dmaList)" accept=".xlsx, .xls, .csv" />
                      <label class="custom-file-label"> {{dmaList.files > 0 ? 'Upload' : 'Upload'}} file</label>
                    </div>
                  </td>
                  <!- <td> <button type="button" (click)="saveFile( )" class="btn btn-secondary"> submit </button></td> ->
                  <td> 
                    <!- <button type="button" [ngClass]="dmaList.files > 0 ? 'btn btn-success':'btn btn-warning'">
                      {{dmaList.files > 0 ? 'Uploaded' : 'Pending'}}</button> ->
                      <!- <button type="button" *ngIf="dmaList.isUploaded  === null" class="btn btn-warning">Pending</button> ->
                      <button type="button" *ngIf="dmaList.isUploaded  === 'Uploaded'" class="btn btn-primary">Uploaded</button>
                      <button type="button" *ngIf="dmaList.isUploaded  === 'Submitted'" class="btn btn-success">Submitted</button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </sb-card> -->
  <!-- conetnt -->
</sb-layout-dashboard>