@import 'styles/variables.scss';



.card-header{
    border-bottom:  1px solid rgb(156 156 156 / 13%) !important;
}

.rounded-lg {
    border-radius: 0.4rem !important;
}


.card-header:first-child {
    border-radius: calc(0.4rem - 1px) calc(0.4rem - 1px) 0 0;
}


.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgb(235 239 241);
    border-top: 1px solid rgb(235 239 241);
    }
