<sb-layout-auth>

   
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h3 class="text-center font-weight-bold my-4" style="color: #fff !important;">Login</h3>

                <div class="card shadow-lg border-0 rounded-lg mt-2">
                    
                    <div class="card-header"  style="background-color: #fff !important;"><br>
                       
                        <div class="text-center"><img src="assets/img/hcsc.png" alt="" width="150"></div>

                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="form-group"><label class="small mb-1"
                                    for="inputEmailAddress"><strong>Email</strong></label><input class="form-control " (focus)="focusFunction()" type="email"
                                    id="email" name="email" formControlName="email" [(ngModel)]="user.email"
                                    placeholder="Enter email address" />
                                    <span *ngIf="submitted && f.email.errors">
                                        <span *ngIf="f.email.errors.required">
                                          <span class="error text-danger">Email is
                                            required!</span>
                                        </span>
                                        <span *ngIf="f.email.errors.pattern">
                                          <span class="error text-danger">Invalid Email!</span>
                                        </span>
                                      </span>
                                </div>
                            <div class="form-group"><label class="small mb-1" for="inputPassword"><strong>Password</strong></label><input
                                    class="form-control" (focus)="focusFunction()" id="apassword" name="apassword" formControlName="apassword"
                                    [(ngModel)]="user.apassword" type="password"
                                    placeholder="Enter password" />
                                    <span *ngIf="submitted && f.apassword.errors">
                                        <span *ngIf="f.apassword.errors.required">
                                          <span class="error text-danger">Password is
                                            required!</span>
                                        </span>
                                        <span *ngIf="f.apassword.errors.minlength">
                                          <span class="error text-danger">Minimum length 8 character!</span>
                                        </span>
                                      </span>
                                
                                </div>
                                <span *ngIf="errorMessage">
                                    <div class="alert alert-danger" role="alert">
                                     Invalid Credentials!
                                    </div>
                                  </span>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox"><input class="custom-control-input"
                                        id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label"
                                        for="rememberPasswordCheck">Remember password</label></div>
                            </div>

                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <!-- <a class="small" routerLink="/auth/forgot-password">Forgot Password?</a> -->
                                <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <!-- <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>