// Global styling for this template

html,
body {
  height: 100%;
}

// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
.navbar-brand
{
  background-color: #fff !important;
}
.sb-sidenav-dark
{
  background-color: #fff !important;
}
 .sb-sidenav-menu-heading
{
  color:#fff !important;
  background-color: #004a75 !important;
}
.nav-link:hover
{
  background-color:#0094c2 !important;
  color: #fff !important;
}
.sb-nav-link-icon:hover
{
  color: #fff !important;
}
.nav-link
{
  color:#3f51ae !important;
  border-bottom:1px solid #ecf0f5;
}
.sb-nav-link-icon
{
  color:#3f51ae !important;
}
.sb-nav-link-icon:after
{
  color:#fff !important;
}

#userDropdown
{
  color:#fff !important;
  border-bottom: 0px !important;
}

#layoutSidenav
{
  background-color: #ecf0f5 !important;
 
}
.sb-topnav
{
  /*background-color: #0094c2 !important;*/
  background-color: #004A75 !important;
}

.sb-sidenav-footer
{
  background-color: #004a75 !important;
  color: #fff !important;
}

.bg-light
{
  background-color: #000000 !important;
  color: #fff !important;
}

.bg-primary
{
  background-color: #0094c2 !important;
}

.card-header{
  padding: 0.5rem 1.25rem !important;
  background-color: #004A75 !important;
}

.dataTables_wrapper .dataTables_length {
  float: left;
  padding-top: 0.755em !important;
}


.select_file{
  font-style: italic;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7e8082;
  margin-top: 6px;
  margin-bottom: 0px;
  
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.arrow {
  border: solid #666666;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-top: 12px;
  cursor: pointer;
}
/*
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 8px;
  
}*/

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('assets/img/calendar.png')!important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 50%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  
}

.ngb-dp-month{
  display: none !important;
}

ngb-datepicker-navigation-select>.custom-select
{
  width: 70px;
  margin-right: 10px;
}
.btn-solid {
  color: #000000 !important;
  background-color: #E5E5E5 !important;
  border-color: #E5E5E5 !important;
}

.dataTables_info, .dataTables_length, .paginate_button{
  font-size:14px !important;
}

.nav-tabs{
  background-color: #004A75 !important;
  border-bottom: 1px solid #dee2e6 !important;
  padding-top:5px !important;
}
.nav-tabs .nav-link
{
  color: #fff !important;
}

.nav-tabs .active
{
  color: #3f51ae !important
}

.nav-tabs a:hover
{
  color: #3f51ae !important;
background-color: #e9e7e7 !important;
}

.navbar{
  padding: 0.5rem 0rem !important;
}
.ngb-dp-header{
  margin-top: -8px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.filter{
  border: 1px solid #eeee;
    border-radius: 10px;
    background-color: #f3f8f9;
    padding: 8px;
}

.dt_table{
  width: 100% !important;
}

.dt_table th{
  font-size: 14px;
}
.dt_table thead{
  background-color: #65777c;
  color: #fff;
}

.filter label{
  margin-bottom:0px;
  font-weight: 600;
  font-size: 14px;
}

.multiselect-dropdown{
  background-color: #fff;
}

