@import 'styles/variables.scss';

.nav-icon{
    margin-right: 0.5rem;
}

.nav-item p{
    margin-bottom:0px;
}


.dashboard_view  a .icon
{
    background:url(assets/img/Dashboard_Icon.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.dashboard_view  a:hover .icon 
{
    background:url(assets/img/Dashboard_Icon_white.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.dashboard_view .active .icon 
{
    background:url(assets/img/Dashboard_Icon_white.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.dashboard_view  a:hover p
{
    color: #ffffff !important;
}

.upload_and_process  a .icon
{
    background:url(assets/img/upload_and_process_icon.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.upload_and_process  a:hover .icon
{
    background:url(assets/img/upload_and_process_icon_white.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.upload_and_process .active .icon 
{
    background:url(assets/img/upload_and_process_icon_white.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.upload_and_process  a:hover p
{
    color: #ffffff !important;
}

.integrated_view  a .icon
{
    background:url(assets/img/integrated_view_icon.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.integrated_view  a:hover .icon
{
    background:url(assets/img/integrated_view_icon_white.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.integrated_view .active .icon 
{
    background:url(assets/img/integrated_view_icon_white.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.integrated_view  a:hover p
{
    color: #ffffff !important;
}


.reports_view  a .icon
{
    background:url(assets/img/reports_icon.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.reports_view  a:hover .icon
{
    background:url(assets/img/reports_icon_white.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.reports_view .active .icon 
{
    background:url(assets/img/reports_icon_white.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.reports_view  a:hover p
{
    color: #ffffff !important;
}

.predictions_view  a .icon
{
    background:url(assets/img/prediction.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.predictions_view  a:hover .icon
{
    background:url(assets/img/prediction_white.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.predictions_view .active .icon 
{
    background:url(assets/img/prediction_white.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.predictions_view  a:hover p
{
    color: #ffffff !important;
} 


.mem_ret  a .icon
{
    background:url(assets/img/mem_ret.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.mem_ret  a:hover .icon
{
    background:url(assets/img/mem_ret_white.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.mem_ret .active .icon 
{
    background:url(assets/img/mem_ret_white.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.predictions_view  a:hover p
{
    color: #ffffff !important;
} 

.salesforce_connect_view  a .icon
{
    background:url(assets/img/salesforce_connect_icon.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
   
}


.salesforce_connect_view  a:hover .icon
{
    background:url(assets/img/salesforce_connect_icon.png) no-repeat;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
} 

.salesforce_connect_view .active .icon 
{
    background:url(assets/img/salesforce_connect_icon.png) no-repeat !important;
    padding:0.5rem !important;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    color: #ffffff !important;
} 

.salesforce_connect_view  a:hover p
{
    color: #ffffff !important;
} 

.nav-item p{
    color: #004A75;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link
{
    background-color: #8b8b8b !important;
    color: #ffffff !important;
}



.active  p
{
color:#fff;
}




.nav-link:hover{
    background-color: #004A75 !important;
    color: #ffffff !important;
}

.nav-pills .nav-link{
    border-radius: 0px !important;
}


.nav li:hover .submenu {
    display: block;
    max-height: 300px;
  }



  
  
  .submenu a {
    background-color: rgb(255, 253, 253);
    padding-left: 30px;
  }
  
  .submenu a:hover {
    background-color: #993;
  }
  
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 14px;
  }

    .show_menu {
    display: block;
    max-height: 0px;
    -webkit-transition: all 0.5s ease-out;
  }

  .active_submenu{
    background-color: #004A75 !important;
    color:#fff !important;
}
.active_submenu p{
    color:#fff !important;
    font-size:18px;
    font-weight: 600;
}

.acq_open{
    max-height: 300px !important;
    
}

.acq_close{
    max-height: 0px !important;
    
}

.ret_open{
    max-height: 300px !important;
    
}

.ret_close{
    max-height: 0px !important;
    
}
