
<nav class="sb-sidenav accordion" id="sidenavAccordion" [ngClass]="sidenavStyle">
    <div class="sb-sidenav-menu">
       <!-- <div class="nav">
            <ng-container *ngFor="let section of sideNavSections"> 
                <a class="sb-sidenav-menu-heading"   [routerLink]="['/dashboard']" style="padding: 0.85rem 0.85rem 0.85rem 0.85rem !important; font-size: 1rem; text-decoration:none !important;"  *ngIf="section.text">{{ section.text }}</a>
                <ng-container *ngFor="let item of section.items"><sb-side-nav-item [sideNavItem]="sideNavItems[item]"></sb-side-nav-item></ng-container
            ></ng-container>
        </div>-->

        <nav>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->

                   <li class="nav-item has-treeview">
                     <div  (click)="Open_Acquisition()" class="nav-link active_submenu "  >
                    
                      <span style="margin-right: 10px;"><fa-icon  [icon]='["fas", "bars"]'> </fa-icon></span>
                      <p> Acquisition</p>
                      <span style="width: 100%; text-align: right;"><fa-icon  [icon]='["fas", "angle-down"]'> </fa-icon></span>
                     </div>
                    <ul class="submenu show_menu" [ngClass]="acquisition_status ? 'acq_open' : 'acq_close'">
                      <li class="nav-item dashboard_view" >
                        <a routerLink="../../dashboard/dashboardnew" routerLinkActive="active" href="/dashboard/dashboardnew" class="nav-link">
                          <span class="icon"></span>
                        <p>
                          Dashboard
                          
                        </p>
                      </a>
                      </li>
                      <li class="nav-item upload_and_process" >
                        <a routerLink="/dashboard/file" routerLinkActive="active" href="/dashboard/file" class="nav-link ">
                          <span class="icon"></span>
                        <p>
                          Upload & Process
                          
                        </p>
                      </a>
                      </li>
                      <li class="nav-item integrated_view">
                        <a routerLink="/dashboard/predictions" routerLinkActive="active"  href="/dashboard/file-int-view" class="nav-link ">
               
                          <span class="icon"></span>
                          <p>
                            Integrated View
                            
                          </p>
                        </a>
                      </li>
                      <li class="nav-item reports_view">
                        <a routerLink="/dashboard/reports" routerLinkActive="active" href="/dashboard/reports" class="nav-link ">
                            <span class="icon"></span>
                          <p>
                            Acquisition Analytics
                            
                          </p>
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-treeview dashboard_view">
                    <div  (click)="Open_Retention()"  class="nav-link active_submenu" >
                     <span style="margin-right: 10px;"><fa-icon  [icon]='["fas", "bars"]'> </fa-icon></span>
                     <p> Retention</p>
                     <span style="width: 100%; text-align: right;"><fa-icon  [icon]='["fas", "angle-down"]'> </fa-icon></span>
                   </div>
                   <ul class="submenu show_menu retention_submenu" [ngClass]="retention_status ? 'ret_open' : 'ret_close'">
                     <li class="nav-item retention-dashboard" >
                       <a routerLink="../../dashboard/retention-dashboard"  routerLinkActive="active" href="/dashboard/retention-dashboard" class="nav-link">
                         <span class="icon"></span>
                       <p>
                         Dashboard
                         
                       </p>
                     </a>
                     </li>
                     <li class="nav-item upload_and_process" >
                       <a  routerLink="/dashboard/rerentionfileupload" routerLinkActive="active" href="/dashboard/rerentionfileupload" class="nav-link ">
                         <span class="icon"></span>
                       <p>
                         Upload & Process
                         
                       </p>
                     </a>
                     </li>
                     <li class="nav-item integrated_view">
                       <a routerLink="/dashboard/retention-int-view" routerLinkActive="active"  href="/dashboard/retention-int-view" class="nav-link ">
              
                         <span class="icon"></span>
                         <p>
                           Integrated View
                           
                         </p>
                       </a>
                     </li>
                     <li class="nav-item mem_ret">
                       <a routerLink="/dashboard/memberretention" routerLinkActive="active" href="/dashboard/memberretention" class="nav-link ">
                           <span class="icon"></span>
                         <p>
                           Retention Analytics
                           
                         </p>
                       </a>
                     </li>
                   </ul>
                 </li>

                 <!--
              <li class="nav-item has-treeview dashboard_view">
                <a routerLink="../../dashboard/dashboardnew" routerLinkActive="active" href="/dashboard/dashboardnew" class="nav-link">
                    <span class="icon"></span>
                  <p>
                    Dashboard
                    
                  </p>
                </a>
                
              </li>
              <li class="nav-item upload_and_process">
                <a routerLink="/dashboard/file" routerLinkActive="active" href="/dashboard/file" class="nav-link ">
                    <span class="icon"></span>
                  <p>
                    Upload & Process
                    
                  </p>
                </a>
              </li>

              

              <li class="nav-item integrated_view">
                <a routerLink="/dashboard/file-int-view" routerLinkActive="active"  href="/dashboard/file-int-view" class="nav-link ">
               
                  <span class="icon"></span>
                  <p>
                    Integrated View
                    
                  </p>
                </a>
              </li>
              
             
              <li class="nav-item reports_view">
                <a routerLink="/dashboard/reports" routerLinkActive="active" href="/dashboard/reports" class="nav-link ">
                    <span class="icon"></span>
                  <p>
                    Acquisition Analytics
                    
                  </p>
                </a>
              </li>
             
              <li class="nav-item predictions_view">
                <a routerLink="/dashboard/predictions" routerLinkActive="active" href="/dashboard/predictions" class="nav-link ">
                    <span class="icon"></span>
                  <p>
                    Predictions
                    
                  </p>
                </a>
              </li>

              <li class="nav-item salesforce_connect_view">
                <a routerLink="/dashboard/export-import" routerLinkActive="active" href="/dashboard/export-import" class="nav-link ">
                    <span class="icon"></span>
                  <p>
                    Salesforce Connect
                    
                  </p>
                </a>
              </li>

              <li class="nav-item mem_ret">
                <a routerLink="/dashboard/memberretention" routerLinkActive="active" href="/dashboard/memberretention" class="nav-link ">
                    <span class="icon"></span>
                  <p>
                   Retention Analytics
                    
                  </p>
                </a>
              </li>

              
             --> 
              
            
             
            </ul>
          </nav>

    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        <span *ngIf="userService.user$ | async as user">{{user.firstName}} {{user.lastName}}</span>
    </div>
</nav>


