<sb-layout-dashboard>
  <sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <div class="row mb-3 mt-5">
    <div class="col-sm-6">
      <h5>Member Retention Analytics</h5>

    </div>
    <div class="col-sm-6">
      <div class="row float-sm-right">
        <div class="col-md-6">
          <input type="date" (change)="formDate($event)" value="2021-08-01" class="form-control">
        </div>
        <div class="col-md-6">
          <input type="date" (change)="toDate($event)"  value="2022-03-08" class="form-control">
        </div>

      </div>

    </div>
  </div>

  <div class=" row">
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header border-0 total_member_header">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-title mt-1">Total Members<br></h6>
                <span class="desc">{{totalMember}}</span>
              </div>
              <div class="col-md-6">
                <div class="float-sm-right">
                  <select class="form-control" (change)="changeMember($event)" >
                    <option value="">Select Member</option>
                    <option value="Medicare">Medicare</option>
                    <option value="Medicaid">Medicaid</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row total_member_chart">

            <canvas #TotalMemberChart></canvas>
          </div>

        </div>


      </div>



    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header border-0 total_new_member_header">
          <div class="">
            <div class="row">
              <div class="col-md-7">
                <h6 class="card-title mt-1">Total New Members<br>

                </h6>
                <span class="desc">+ 100</span>
              </div>
              <div class="col-md-5" style="padding-right: 8px">
                <div class="float-sm-right">
                  <h6>By Month/Year</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row new_member_chart">
            <canvas #newMemberChart></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header border-0 pie_chart_header">
          <strong> Total Members at Risk of Disenrollment</strong>

        </div>
        <div class="card-body">
          <div class="row">
            <canvas #myPieChart></canvas>
            <div class="row col-md-12">
              <br>
            </div>
            <div class="col-md-4 chart_content">
              <div class="float-sm-left chart_dot"> <span class="dc1_dot"></span></div>High Risk
            </div>

            <div class="col-md-4 chart_content">
              <div class="float-sm-left chart_dot"> <span class="dc2_dot"></span></div>Medium Risk
            </div>

            <div class="col-md-4 chart_content">
              <div class="float-sm-left chart_dot"> <span class="dc3_dot"></span></div>Low Risk
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-header border-0"
          style="background-color: #ffffff !important; border-top:3px solid #f7432c !important;">
          <strong>Total Members Cancellations</strong><br>
          <span style="font-size: 20px; color: red;">50</span>
        </div>
        <div class="card-body">
          <div class="row pl-3">

            <div class="col-md-3 rc1">

            </div>
            <div class="col-md-4 rc2">

            </div>

            <div class="col-md-3 rc3">

            </div>
            <br><br><br>
            <div class="row">
              <div class="col-md-12">
                <h6>Cancellation Reasons</h6>
                <br>
              </div>
              <div class="col-md-4 chart_content">
                <div class="float-sm-left chart_dot"> <span class="rc1_dot"></span></div>Premium
                Increased
              </div>

              <div class="col-md-4 chart_content">
                <div class="float-sm-left chart_dot"> <span class="rc2_dot"></span></div>Switching to new
                plan
              </div>

              <div class="col-md-4 chart_content">
                <div class="float-sm-left chart_dot"> <span class="rc3_dot"></span></div>Other
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header barchart_header">
          <fa-icon [icon]='["fas", "chart-bar"]'></fa-icon> <strong> Prediction vs Actual Lost Members</strong>

        </div>
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4 chart_content">
              <div class="float-sm-left chart_dot"> <span class="pred_dot"></span></div><strong>Prediction</strong>
            </div>

            <div class="col-md-4 chart_content">
              <div class="float-sm-left chart_dot"> <span class="act_dot"></span></div><strong>Actual</strong>
            </div>
            <br>
            <canvas #BarChart></canvas>
          </div>


        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="submit" class="btn btn-default" style="background-color: #ced4da;">
              <fa-icon [icon]='["fas", "search"]'></fa-icon>
            </button>
          </div>
        </div>


      </form>

    </div>
    <div class="col-md-6">
      <div class="float-sm-right"><button id="upload_button" (click)="pushToSalesForce()" class="btn btn-download">
          Push to Salesforce</button></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <span *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{ errorMessageText}}
        </div>
      </span>
    </div>
    <div class="col-md-12">
      <span *ngIf="successMessage">
        <div class="alert alert-success" role="alert">
          {{ successMessageText}}
        </div>
      </span>
    </div>
    <div class="col-md-12">
      <span *ngIf="waitMessage">
        <div class="alert alert-warning" role="alert">
          {{ waitMessageText}}
        </div>
      </span>
    </div>
  </div>
  <br>
  <div class="row filter_row">
    <div class="col-md-1"><i>Filter by </i></div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-3 mb-2">
          <select (change)="changeDisenrollment($event)" class="form-control">
            <option value="">Risk of Disenrollment</option>
            <option value="Extremely High Risk">Extremely High Risk</option>
            <option value="High Risk">High Risk</option>
            <option value="Medium Risk">Medium Risk</option>
            <option value="Low Risk">Low Risk</option>
          </select>
        </div>
        <div class="col-md-3 mb-2">
          <select class="form-control" (change)="changeCummunicationReference($event)">
            <option value="">Predicted Communication Preference </option>
            <option value="Call">Call</option>
            <option value="Email">Email</option>
            <option value="Chat in Person">Chat in Person</option>
            <option value="Mail">Mail</option>
          </select>
        </div>
        <div class="col-md-3 mb-2">
          <select (change)="changeOutreachStage($event)" class="form-control">
            <option value="">Outreach Stage</option>
            <option value="New">New </option>
            <option value="Replied">Replied </option>
            <option value="Unresponsive">Unresponsive </option>
            <option value="Do Not Contac">Do Not Contact</option>
          </select>
      
        </div>
        <div class="col-md-3 mb-2">
          <select (change)="changeMemberPrioritization($event)" class="form-control">
            <option value="">Predicted Member Prioritization</option>
            <option value="">High-touch</option>
            <option value="">Medium-touch</option>
            <option value="">Low-touch</option>
          </select>
        </div>
        <div class="col-md-3 mb-2">
          <select (change)="changeState($event)" class="form-control">
            <option value="">State</option>
            <option value="MA">MA</option>
            <option value="Kansas">Kansas</option>
            <option value="Arizona">Arizona</option>
            <option value="Texas">Texas</option>
            <option value="Nevada">Nevada</option> 
            <option value="New York">New York</option>
          </select>
        </div>
        <div class="col-md-3 mb-2">
          <select (change)="changeCity($event)" class="form-control">
            <option value="">City</option>
            <option value="Boston">Boston</option>
            <option value="Kansas City">Kansas City</option>
            <option value="Tuscon">Tuscon</option>
            <option value="Wichita">Wichita</option>
            <option value="Gilbert">Gilbert</option>
            <option value="Glendale">Glendale</option>
            <option value="Galveston">Galveston</option>
            <option value="Albany">Albany</option>
            <option value="Round Rock">Round Rock</option>
            <option value="Austin">Austin</option> 
            <option value="Henderson">Henderson</option> 
          </select>
        </div>

        <div class="col-md-3 mb-2">
          <div class="row">
            <div class="col-md-6">
              <select (change)="changezipcode($event)" class="form-control">
                <option value="">Zipcode</option>
                <option value="89110">89110</option>
                <option value="89012">89012</option>
                <option value="89115">89115</option>
                <option value="89130">89130</option>

              </select>
            </div>
            <div class="col-md-6">
              <select (change)="changeIncome($event)" class="form-control">
                <option value="">Income</option>
                <option value="0-25000">0-25000</option>
                <option value="25000-50000">25000-50000</option>
                <option value="50000-75000">50000-75000</option>
                <option value="75000-90000">75000-90000</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-2">
          <select (change)="changeAssignee($event)" class="form-control">
            <option value="">Assigned to</option>
            <option value="Sales">Sales</option>
            <option value="Marketing">Marketing</option>
            <option value="Customer Support">Customer Support</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <sb-card>

    <div class="card-header border-0" style="background-color: #ffffff !important;"></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> <input type="checkbox" /></th>
              <th>Integrated Id</th>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Plan Type</th>
              <th>Prior Risk</th>
              <th>Member Prioritization</th>
              <th>Renrollment action</th>
              <th>Communication Outreach</th>
            </tr>
          </thead>
          <tbody *ngIf="retentionlistTable?.length != 0">
            <tr *ngFor="let retentionlistrow of retentionlistTable; let i = index">
              <td>
                <input #newLeadCheckBox id="newLeadCheckBox" type="checkbox" />
              </td>
              <td>{{ retentionlistrow.integrated_id }}</td>
              <td>{{ retentionlistrow.name }}</td>
              <td>{{ retentionlistrow.dateofbirth}}</td>
               <td>{{ retentionlistrow.address }}</td>
              <td>{{ retentionlistrow.city }}</td>
              <td>{{ retentionlistrow.state }}</td>

              <td>{{ retentionlistrow.phone }}</td>
              <td>{{ retentionlistrow.email }}</td>
              <td>{{ retentionlistrow.plantype }}</td>
              <td>{{ retentionlistrow.predictedRiskofDisenrollment }}</td>
              <td>{{ retentionlistrow.predictedmemberprioritization }}</td>
              <td>{{ retentionlistrow.predictedRiskofDisenrollment }}</td>
              <td>{{ retentionlistrow.predictedcommunicationpreference }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="retentionlistrow?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
        </table>



      </div>

    </div>
  </sb-card> -->

</sb-layout-dashboard>