<!-- <sb-layout-dashboard><sb-dashboard-head title="Dashboardeee" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-cards></sb-dashboard-cards><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables></sb-layout-dashboard> -->

<sb-layout-dashboard><sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>

  <sb-card>
    <div class="card-header" style="color: #ffffff; padding-bottom: 0px !important; padding-top: 18px !important;">
      <div class="col-md-4">
        <div class="form-group">
          

          <select class="form-control" name="month" id="month" onchange="GetIframeURL(this.value)">
            <option value="https://app.powerbi.com/reportEmbed?reportId=4e88f0e2-0c2a-4ad3-b8c2-75dff4349632&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Dashboard">Dashboard</option>
            
            <option value="https://app.powerbi.com/reportEmbed?reportId=8d0d1d8a-f8af-427b-9548-a307dec6489d&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Sales Conversion Rates by Lead Type">Sales Conversion Rates by Lead Type</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=1b8b1c86-7e24-46ee-a3a6-ed4aea84f39a&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Lead Status by Month">Lead Status by Month</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=e8e08bea-8b3b-4c47-b79c-ad0dac70d016&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Lost Reason by Month">Lost Reason by Month</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=f181c0d2-3db0-4dd9-8d65-34191e80ac85&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Sales Conversion by Age In Month">Sales Conversion by Age In Month</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=93bc790b-fbc8-4e9a-b85e-664f0caf34c4&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Sales by Product by Channel">Sales by Product by Channel</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=78495abb-471d-4e44-bb07-e9902a82ce9f&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Sales by Channel by Month">Sales by Channel by Month</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=4192b132-1e92-452e-8b1e-9b2d9b48cdbd&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,MA Sales based on ED">MA Sales based on ED</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=301d229b-3f26-4a6f-b513-8f94af0cdaa5&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Age In Sales - MA">Age In Sales - MA</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=16c146f9-575c-4f99-af3a-a9eade49d20f&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,MA Enrollment by Type (NON-AEP)">MA Enrollment by Type (NON-AEP)</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=5909ac0f-cd08-4246-bd18-a98c626de4ea&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Lead Volume Quality (with List Generation)">Lead Volume, Quality (with List Generation)</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=093ac260-8be9-4612-ad10-d8393bfeca0b&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Lead Volume Details">Lead Volume Details</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=1734822e-25c8-40a4-92aa-4305cbcfd140&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Quality Control">Quality Control</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=d9ec8ed9-03c5-4b5c-9c8e-2f1509f92cc2&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Sales REP Tracker">Sales REP Tracker</option>
            <option value="https://app.powerbi.com/reportEmbed?reportId=0823add1-2fcb-4094-9613-a4ced409b53b&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9,Sales Qualified Leads">Sales Qualified Leads</option>

          </select>
          
          
         
        </div>
      </div>
        </div>
    
        <div class="card-body">
      
    <div class="row">
      <div class="col-md-12">

        <iframe width="1060"  id="ttt" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4e88f0e2-0c2a-4ad3-b8c2-75dff4349632&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>

    
        </div>

  </sb-card>
</sb-layout-dashboard>
