@import 'styles/variables.scss';

@media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
  }

.prediction_summary{
    padding-right: 15px;
    padding-left: 15px;
}
.prediction_summary p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    
}

.prediction_summary h5{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom:0px;
    
}

.prediction_summary h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.rc1{
    border-bottom: 25px solid #1E468E;
}

.rc1 h5{
    color: #1E468E;
}
.rc2{
    border-bottom: 25px solid #F5BB00;
}

.rc2 h5{
    color: #F5BB00;
}

.rc3{
    border-bottom: 25px solid #F26A24;
}

.rc3 h5{
    color: #F26A24;
}

.rc4{
    border-bottom: 25px solid #C94277;
}

.rc4 h5{
    color: #C94277;
}


