<!-- <sb-layout-dashboard><sb-dashboard-head title="Dashboardeee" [hideBreadcrumbs]="false"></sb-dashboard-head><sb-dashboard-cards></sb-dashboard-cards><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables></sb-layout-dashboard> -->

<sb-layout-dashboard><sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>

   
                <div class="row">
                  <div class="col-md-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header" style="background-color: #004A75 !important; color: #ffffff;">
                            <!-- Reports Summary -->
                            </div>
                            <div class="card-body">
                                <div class="row"> 
                    

                                    <!--<div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" name="month">
                                                <option>Month</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                             </select>
                                           
                                            
                                        </div>
                                    </div>
                
                                    <div class="col-md-6">
                                        <div class="form-group">
                                           <select class="form-control" name="year">
                                                 
                                                <option>August, 2021</option>
                                                <option>September, 2021</option>
                                               
                                              </select>
                                        </div>
                                    </div>-->
                                    <div class="col-md-12">
                                       <!--<div class=""><img src="assets/img/ds.png" alt=""></div>-->
                                       <iframe width="1040" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=4e88f0e2-0c2a-4ad3-b8c2-75dff4349632&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>

                                        <!-- <iframe width="470" height="541.25" 
                                        src="https://app.powerbi.com/reportEmbed?reportId=75378e87-b36a-4e4e-a14e-1615fc510778&autoAuth=true&ctid=c6e07c5d-6002-4451-b6be-fade64ec2ad0&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true">
                                    </iframe> -->
                                    </div>
                                 </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-12 d-flex" >
                    <div class="card flex-fill">
                        <div class="card-header" style="background-color: #004A75 !important; color: #ffffff;">
                            Prediction Summary
                            </div>
                            <div class="card-body">
                                <div class="row prediction_summary"> 
    
                                    <div class="col-md-12"><h4>Leads and Conversion Probability</h4></div><br>
                                    <div class="col-md-3 rc1">
                                        <h5>100</h5>
                                        <p>Total Leads</p>
                                    </div>
                                    <div class="col-md-3 rc2">
                                        <h5>70</h5> 
                                        <p>Medium or Above Likelihood of Conversion</p>
                                    </div>
                                    <div class="col-md-3 rc3">
                                        <h5>50</h5>
                                        <p>High or Above Likelihood of Conversion</p>
                                    </div>
                                    <div class="col-md-3 rc4">
                                        <h5>30</h5>
                                        <p>Extremely High Likelihood of Conversion</p>
                                    </div>
                
                                   
                                </div>
                            </div>
                    </div>
                  </div> -->
                 
                </div>
              
       

    

</sb-layout-dashboard>
