<sb-layout-dashboard>
  <sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <div class="row mb-3 mt-5">
    <div class="col-sm-6">
      <a (click)="goBack()"><h6><fa-icon [icon]='["fas", "arrow-left"]'></fa-icon> Back to Previous</h6></a>

    </div>
   
  </div>

  <div class=" row member_detail_form">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header border-0 total_member_header">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title mt-1">Member Details</h5>
               
              </div>
             
            </div>
          </div>
        </div>

        <div class="card-body ">
         

           <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" value = "{{resMemberDetails[0].name}}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="integrated_id">Integrated Id</label>
                    <input type="text" class="form-control" id="integrated_id" value = "{{resMemberDetails[0].name}}" placeholder="Integrated Id" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="date_of_birth">Date of birth</label>
                    <input type="text" class="form-control" id="date_of_birth" value = "{{resMemberDetails[0].dateofbirth}}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" value = "{{resMemberDetails[0].email}}" placeholder="email" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" value = "{{resMemberDetails[0].address}}" placeholder="Address" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" value = "{{resMemberDetails[0].city}}" placeholder="City" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" value = "{{resMemberDetails[0].state}}" placeholder="State" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" class="form-control" id="zipcode" value = "{{resMemberDetails[0].zipcode}}" placeholder="Zipcode" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" value = "{{resMemberDetails[0].phone}}" placeholder="Phone" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="income">Income</label>
                    <input type="text" class="form-control" id="income" value = "{{resMemberDetails[0].income}}" placeholder="Income" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" value = "{{resMemberDetails[0].gender}}" placeholder="Gender" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="education">Education</label>
                    <input type="text" class="form-control" id="education" value = "{{resMemberDetails[0].education}}" placeholder="Education" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="maritial_status">Maritial Status </label>
                    <input type="text" class="form-control" id="maritial_status" value = "{{resMemberDetails[0].maritialstatus}}" placeholder="Maritial Status " readonly>
                  </div>
                </div>
              </div>
           </form>
          </div>

      


      </div>



    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header border-0 total_member_header">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title mt-1">Plan Details</h5>
               
              </div>
             
            </div>
          </div>
        </div>

        <div class="card-body">
         

           <form>
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="product">Product</label>
                    <input type="text" class="form-control" id="product" placeholder="Product" value = "{{resMemberDetails[0].product}}" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="plan_type">Plan Type</label>
                    <input type="text" class="form-control" id="plan_type" value = "{{resMemberDetails[0].plantype}}" readonly>
                  </div>
                </div>
              </div>

              <br>
              <h5 class="card-title mt-1">Retention Details</h5>
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="joinig_date">Joining Date </label>
                    <input type="text" class="form-control" id="joinig_date" value = "{{resMemberDetails[0].joining_date}}" placeholder="Joining Date" readonly>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lost_reason">Lost Reason</label>
                    <input type="text" class="form-control" id="lost_reason"  placeholder="Lost Reason" >
                  </div>
                </div>
               
              </div>

              <div class="row">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Updated Date</th>
                        <th>Member Risk</th>
                        <th>Member Prioritization</th>
                        <th>Preferred Communication</th>
                        <th>Outreach Stage</th>
                        
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="meb_date">{{resMemberDetails[0].retention_date}}</span></td>
                      <td><span class="hige_risk">{{resMemberDetails[0].predictedRiskofDisenrollment}}</span></td>
                      <td>{{resMemberDetails[0].predictedmemberprioritization}}</td>
                      <td>{{resMemberDetails[0].predictedcommunicationpreference}}</td>
                      <td>{{resMemberDetails[0].outreachStage}}</td>
                    </tr>
                    <!-- <tr>
                      <td><span class="meb_date">02/10/2022 12:05:30</span></td>
                      <td><span class="hige_risk">High Risk</span></td>
                      <td>High-Touch</td>
                      <td>Call</td>
                      <td>Contacted</td>
                    </tr> -->
                    </tbody>
                  </table>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-md-12">
                    <span *ngIf="errorMessage">
                      <div class="alert alert-danger" role="alert">
                        {{ errorMessageText}}
                      </div>
                    </span>
                  </div>
                  <div class="col-md-12">
                    <span *ngIf="successMessage">
                      <div class="alert alert-success" role="alert">
                        {{ successMessageText}}
                      </div>
                    </span>
                  </div>
                  <div class="col-md-12">
                    <span *ngIf="waitMessage">
                      <div class="alert alert-warning" role="alert">
                        {{ waitMessageText}}
                      </div>
                    </span>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-md-12" style="margin-top: 100px;">
                    <button style="margin-right: 10px;" id="upload_button" (click)="pushToSalesForce()" class="btn btn-download">
                    Push to Salesforce</button>
                    <button id="upload_button" (click)="dashboaredGo()" class="btn btn-download">
                      Return to Dashboard</button>
                  </div>
                </div>
           </form>
          </div>

      


      </div>



    </div>

    

    




  

    
  </div>

  
  

</sb-layout-dashboard>