.infobox{
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    padding:10px 10px 10px 10px;
}

.checkbox_infobox 
{
    
/*padding:10px 10px 10px 10px;*/
margin-left: 20px;
}
.label_title {
    margin-left: -20px;
    margin-bottom: 5px;
}

#date_picker .ngb-dp-header{
    margin-top: -8px !important;
    background-color: rgba(255, 255, 255, 0) !important; 
}

.form-check-input {
    transform : scale(1.3);
}
#newLeadCheckBoxAll{
    transform : scale(1.3);
}

th{
    font-size: 13px;
}


  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
  }


  .rc1{
    border-top: 20px solid #1E468E;
}

.rc1 h5{
    color: #1E468E;
}
.rc2{
    border-top: 20px solid #F5BB00;
}

.rc2 h5{
    color: #F5BB00;
}

.rc3{
    border-top: 20px solid #F26A24;
}

.rc3 h5{
    color: #F26A24;
}

.rc4{
    border-bottom: 25px solid #C94277;
}

.rc4 h5{
    color: #C94277;
}

.rc1_dot {
  height: 18px;
  width: 18px;
  background-color: #1E468E;
  border-radius: 50%;
  display: block;
}


.rc2_dot {
  height: 18px;
  width: 18px;
  background-color: #F5BB00;
  border-radius: 50%;
  display: block;
}


.rc3_dot {
  height: 18px;
  width: 18px;
  background-color: #F26A24;
  border-radius: 50%;
  display: block;
}


.dc1_dot {
  height: 18px;
  width: 18px;
  background-color: #FF8F6B;
  
  display: block;
}

.act_dot {
  height: 15px;
  width: 36px;
  background-color: rgba(60,141,188,0.9);
  
  display: block;
}

.pred_dot {
  height: 15px;
  width: 36px;
  background-color: rgba(210, 214, 222, 1);
  display: block;
}




.dc2_dot {
  height: 18px;
  width: 18px;
  background-color: #FFD66B;
  
  display: block;
}


.dc3_dot {
  height: 18px;
  width: 18px;
  background-color: #004A75;

  display: block;
}
.btn-download {
  color: #ffffff;
  background-color: #004A75;
  border-color: #004A75;
}

.filter_row{
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-top: -10px;
  background: #ecf0f5;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px !important;
}

.card {
  display: flex !important;
  min-height: 100% !important;
}

.member_detail_form label{
  font-weight: bold;
  font-size: 14px;
}

.total_member_header{
  background-color:#fff !important; 
  border-top:3px solid #004A75 !important;
}

.total_member_header .card-title{
  margin-bottom: 0px;
}

.total_member_header .desc{
  font-size: 20px;
  color:#0275d8;
}

.total_new_member_header{

  background-color:#fff !important; 
  border-top:3px solid #009bc8 !important;
}

.total_new_member_header .card-title{
  margin-bottom: 0px;
}

.total_new_member_header .desc{
  font-size: 20px;
  color:#f16031;
}

.pie_chart_header{
  background-color: #ffffff !important; 
  border-top:3px solid #004A75 !important;
}
.chart_content{
  font-size: 13px;display: flex;
}

.chart_dot{
  margin-right: 4px;
}

.cancelation_block{
  background-color: #ffffff !important; 
  border-top:3px solid #f7432c !important;
}

.barchart_header{
  background-color: #ffffff !important; 
  border-top:3px solid #28a745 !important;
}

.meb_date{
  color:#009bc8;
}

.hige_risk{
  color:red;
}