.infobox{
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    padding:10px 10px 10px 10px;
}

.checkbox_infobox 
{
    
/*padding:10px 10px 10px 10px;*/
margin-left: 20px;
}
.label_title {
    margin-left: -20px;
    margin-bottom: 5px;
}

#date_picker .ngb-dp-header{
    margin-top: -8px !important;
    background-color: rgba(255, 255, 255, 0) !important; 
}

.form-check-input {
    transform : scale(1.3);
}
#newLeadCheckBoxAll{
    transform : scale(1.3);
}

th{
    font-size: 13px;
}


  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid #f1f1f1;
  }
