<sb-layout-dashboard>
  <sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <!-- <div class=" row">
    <div class="col-md-3"> -->
  <sb-card>
    <div class="card-header" style="color: #ffffff;">
      <a>
        <fa-icon class="mr-1"></fa-icon> Predictions
      </a>
    </div>
    <div class="card-body">
      <div class="row prediction_summary">

        <!-- <div class="col-md-12">
          <h5>Number of Leads </h5>
        </div><br>
        <div class="col-md-12 rc1">
          <h1><b> {{this.paginationCount}}</b></h1>
        </div>
        <div class="clearfix"></div> -->

        <div class="col-md-3">
          <div class="infobox1">
            <h5 style="margin-bottom:0px; text-align: center; color: #004a75">Number of Leads - <span
                style="font-size: 20px; color: #d35519;"><b> {{this.paginationCount}}</b></span></h5>

          </div>
        </div>

        <div class="col-md-9">
          <div class="row checkbox_infobox">
            <div class="col-md-4" style="text-align: center;">
              <label class="form-check-label label_title">
                <b> Likelihood of Conversion</b>
              </label>
            </div>
            <div class="col-md-8">
              <div style="margin-bottom:0px">
                <div *ngFor="let scores of fileObject.score; let i = index"
                  style="width:auto;display: inline-block;margin-right: 8%;">
                  <input class="form-check-input" #scoreCheckBox id="scoreCheckBox" type="checkbox"
                    [checked]="fileObject.score.ischecked" (change)="isExtreme(scoreCheckBox.checked, scores.id)" />
                  <label class="form-check-label" for="flexCheckChecked">
                    {{scores.value}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sb-card>
  <!-- </div> -->
  <!-- <div class="col-md-9"> -->
  <sb-card>
    <div class="card-header" style="color: #ffffff;">
      <a>
        <fa-icon class="mr-1"></fa-icon> Filter & Select
      </a>
    </div>
    <div class="card-body">
      <div class="bs-example">
        <div class="clearfix">
          <!-- <div class="pull-right">
            <div class=" row">
              <div class="col-md-12">
                <button _ngcontent-uku-c1="" id="upload_button" class="btn btn-blue" type="button"
                  (click)="csvInputChange()">
                  Search </button>
              </div>
            </div>
          </div> -->
          <div class=" row filter">
            <div class="col-md-3">
              <div class="form-group">
                <label> Date </label>
                <ngb-datepicker (navigate)="dateNavigate($event)" [showWeekdays]="false"
                  class="datepicker-only-month-select form-control"></ngb-datepicker>
              </div>

            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label> State</label><ng-multiselect-dropdown name="state" [placeholder]="'Select State'" [data]="stats"
                  formControlName="state" [disabled]="disabled" [settings]="dropdownSettings"
                  (onSelectAll)="onSelectAllState($event)" (onDeSelectAll)="onItemDeSelectAllState($event)"
                  (onDeSelect)="onItemDeSelectState($event)" (onSelect)="onItemSelectState($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label> City </label><ng-multiselect-dropdown name="city" [placeholder]="'Select City'" [data]="cities"
                  formControlName="city" [disabled]="disabled" [settings]="dropdownSettings"
                  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onItemDeSelectAll($event)"
                  (onDeSelect)="onItemDeSelect($event)" (onSelect)="onItemSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group"><br>
                <div class="form-check">
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                    title="Checked Lead Which Are Not Pushed To Salesforce.">
                    <input class="form-check-input" #newLeadCheckBox id="newLeadCheckBox" type="checkbox"
                      [checked]="fileObject.isChecked" (change)="isNewLead(newLeadCheckBox.checked)" />
                    <label class="form-check-label" for="flexCheckChecked">
                      New Leads Only
                    </label>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label> Zipcode</label> <ng-multiselect-dropdown name="state" [placeholder]="'Select Zipcode'" [data]="zipcodes"
                  formControlName="state" [disabled]="disabled" [settings]="dropdownSettings"
                  (onSelectAll)="onSelectAllZipcode($event)" (onDeSelectAll)="onItemDeSelectAllZipcode($event)"
                  (onDeSelect)="onItemDeSelectZipcode($event)" (onSelect)="onItemSelectZipcode($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label> Income</label> <ng-multiselect-dropdown name="income" [placeholder]="'Select Income'" [data]="income"
                  formControlName="income" [disabled]="disabled" [settings]="dropdownSettings"
                  (onSelectAll)="onSelectAllIncome($event)" (onDeSelectAll)="onItemDeSelectAllIncome($event)"
                  (onDeSelect)="onItemDeSelectIncome($event)" (onSelect)="onItemSelectIncome($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>

            <!-- <div class="col-md-3">
              <div class="form-group">
                <ng-multiselect-dropdown name="age" [placeholder]="'Select Age'" [data]="age" formControlName="age"
                  [disabled]="disabled" [settings]="dropdownSettings" (onSelectAll)="onSelectAllAge($event)"
                  (onDeSelectAll)="onItemDeSelectAllAge($event)" (onDeSelect)="onItemDeSelectAge($event)"
                  (onSelect)="onItemSelectAge($event)">
                </ng-multiselect-dropdown>
              </div>
            </div> -->

            <div class="col-md-3">
              <!-- <div class="form-group"> -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>  Min Age</label> <input type="number" class="form-control" (change)="rangeChangeMin($event)"
                      [(ngModel)]="minValue">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Max Age</label> <input type="number" class="form-control" (change)="rangeChangeMax($event)"
                      [(ngModel)]="maxValue">
                    <!-- <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                      (userChange)="rangeChange($event)"></ngx-slider> -->
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>


            <div class="col-md-3">

              <div class="form-group">
                <br>
                <button _ngcontent-uku-c1="" id="upload_button" [disabled]="isSubmitBtnDisabled" class="btn btn-primary"
                  type="button" (click)="pushToSalesForce()">
                  {{totalPushToSalesForce}} </button>
              </div>
              <!-- <div class="form-group">
                Min Score: <input type="number" class="form-control" [(ngModel)]="minScore">
              </div> -->
              <!-- <div class="form-group">
                    Prediction Likely <select class="form-control" [(ngModel)]="minScore"
                      [ngModelOptions]="{standalone: true}" (change)="changeScore($event)" name="score" id="score">
                      <option value='0t25' [selected]="true"> Least likely </option>
                      <option value='25t25'> Less likely </option>
                      <option value='50t75'> Likely </option>
                      <option value='75t100'> Most likely </option>
                    </select>
                  </div> -->
            </div>
            <div class="col-md-3">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
              </div>
            </div>
            <div class="col-md-3">
              <!-- <div class="form-group">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                  (userChange)="rangeChange($event)"></ngx-slider>
              </div> -->
            </div>
            <div class="col-md-3">
              <!-- <div class="form-group">
                    <button _ngcontent-uku-c1="" id="upload_button" [disabled]="isSubmitBtnDisabled"
                      class="btn btn-primary" type="button" (click)="updatePredictionFun()">
                      {{totalPushToSalesForce}} </button>
                  </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
              {{ errorMessageText}}
            </div>
          </span>
        </div>
        <div class="col-md-12">
          <span *ngIf="successMessage">
            <div class="alert alert-success" role="alert">
              {{ successMessageText}}
            </div>
          </span>
        </div>
        <div class="col-md-12">
          <span *ngIf="waitMessage">
            <div class="alert alert-warning" role="alert">
              {{ waitMessageText}}
            </div>
          </span>
        </div>
      </div>
<br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-check">
              <span class="d-inline-block" style="margin-left: -10px;" tabindex="0" data-toggle="tooltip"
                title="Select All Lead to Push Salesforce.">
                <input #newLeadCheckBoxAll id="newLeadCheckBoxAll" type="checkbox"
                  [checked]="fileObject.isCheckedLeadsAll" (change)="isChekedLeadRowAll(newLeadCheckBoxAll.checked)" />
                <span style="margin-left:10px;">Select All</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="form-check">
            <input #newLeadCheckBoxAll id="newLeadCheckBoxAll" type="checkbox" [checked]="fileObject.isCheckedLeadsAll"
              (change)="isChekedLeadRowAll(newLeadCheckBoxAll.checked)" />
          </div> -->
      <!-- <br> -->
      <!-- <div class="table-responsive"> -->

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover dt_table table-bordered">
          <thead>
            <tr>
              <th>
                <!-- <div class="form-check">
                <input #newLeadCheckBoxAll id="newLeadCheckBoxAll" type="checkbox" [checked]="fileObject.isChecked"
                  (change)="isChekedLeadRowAll(newLeadCheckBoxAll.checked)" />

              </div>   -->
              </th>
              <th>Integrated Id</th>
              <th>Mad Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date of Birth</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zipcode</th>
              <th>Income</th>
              <th>Phone</th>
              <th>Score</th>
              <th>Email</th>
              <th>Lead Source</th>
            </tr>
          </thead>
          <tbody *ngIf="persons?.length != 0">
            <tr *ngFor="let person of persons; let i = index">
              <td>
                <input #newLeadCheckBox id="newLeadCheckBox" type="checkbox" [checked]="person.isSelected"
                  (change)="isChekedLeadRow(newLeadCheckBox.checked, person.integreted_id)" />
              </td>
              <td>{{ person.integreted_id }}</td>
              <td>{{ person.MAD_ID }}</td>
              <td>{{ person.first_name }}</td>
              <td>{{ person.last_name }}</td>
              <td>{{ person.dobview | date : "MM/dd/yyyy" }}</td>
              <td>{{ person.address_line1 }}</td>
              <td>{{ person.city }}</td>
              <td>{{ person.state }}</td>
              <td>{{ person.zip_code }}</td>
              <td>{{ person.income }}</td>
              <td>{{ person.phone }}</td>
              <td>{{ person.prediction_score }}</td>
              <td>{{ person.member_email }}</td>
              <td>{{ person.MAD_Data_Source }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="persons?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      <!-- </div> -->
    </div>
  </sb-card>
  <!-- </div>
  </div> -->
  <!-- conetnt -->
</sb-layout-dashboard>