<sb-card>
    <div class="card-header">
        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>July Month Details
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">File Type</th>
                    <th scope="col">File Name </th>
                    <th scope="col">Uploaded Date </th> 
                    <th scope="col">Status</th>
                    <th scope="col">Completed Date </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dmaList of dmaAllList; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{ dmaList?.filetype }}</td>
                    <td> <button type="button" class="btn btn-link" aria-label="Left Align"> <span
                                class="glyphicon glyphicon-align-left"></span>{{dmaList.fileName ? dmaList?.fileName : '---'}}</button> </td>
                    <td>25-June-2020</td>
                    <td> <!-- <button type="button" *ngIf="dmaList.isUploaded  === null" class="btn btn-warning">Pending</button> -->
                        <button type="button" *ngIf="dmaList.isUploaded  === 'Uploaded'" class="btn btn-primary">Uploaded</button>
                        <button type="button" *ngIf="dmaList.isUploaded  === 'Submitted'" class="btn btn-success">Submitted</button>
                     </td>
                    <td>30-June-2020</td>
                </tr>
            </tbody>
        </table>
    </div>
</sb-card>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="exampleFormControlSelect1"> Select a Year</label>
            <select class="form-control" (ngModelChange)="onchangeYear($event)" [(ngModel)]="fileObject.fileYear" name="fileYear">
                <!-- <option [ngValue]=null >Select Year</option> -->
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
              </select>
        </div>
    </div>

 <!-- *ngIf="dmaList.isUploaded  === null" class="btn btn-warning" -->
 
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('January')" background="0 === 0 ? bg-secondary : bg-secondary">
            <div class="card-body">January</div>
        </sb-card-view-details>
    </div>
 
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details (click)="onchangeMonth('February')" background="bg-secondary">
            <div class="card-body">February </div>
        </sb-card-view-details>
    </div>
    <!-- <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-secondary">
            <div class="card-body">March</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-secondary">
            <div class="card-body">April </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-secondary">
            <div class="card-body">May </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">June </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary">
            <div class="card-body">July </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">August </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">September </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">October </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">November </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-2 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">December</div>
        </sb-card-view-details>
    </div> -->
</div>

